/bin
/html/core
/html/modules/contrib
/html/profiles/contrib
/html/themes/contrib
/html/sites/default/files
/html/libraries
vendor/
.idea

# Aegir files
sites/sites.php
sites/*/files
sites/*/private
sites/*/drushrc.php
sites/*/settings.php
sites/*/local.settings.php
sites/all/drush/drushrc.php
